<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/chat.css">
    <title>ChatFree 🏠</title>
</head>

<body>
    <header>
        <h1>ChatFree 📝 </h1>
    </header>

    <main>

        <div id="all-messages">

            <div class="message">
                <div class="image-container">
                    <img src="/images/michi.jpeg" alt="image muestra">
                </div>

                <div class="message-body">
                    <div class="user-info">
                        <span class="username">pepe</span>
                        <span class="time">1 segundo</span>
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet odio assumenda aperiam nesciunt
                        iste
                        incidunt nam molestias doloribus, beatae minus culpa unde voluptatum sint ullam velit quam omnis
                        esse. Aliquam?
                    </p>

                </div>
            </div>
        </div>


        <div class="send-message">
            <input type="text" id="message">
            <button type="button" id="send-message" class="btn secondary">Enviar</button>
        </div>

    </main>

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/script.js"></script>
</body>

</html>